{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Test Technique{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">
			<input type="text" id="searchBox"></input>

			<div id="pointsList">
				{% for point in pointsOfInterest %}
					{% include 'app/_pointOfInterest.html.twig' with {'point': point} only %}
				{% else %}
					<span id="NoPoint">Aucun point d'intérêt n'est enregistré.</span>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<section id="map"></section>
		</div>
	</div>

	{% include 'app/_newPointModal.html.twig' with {'form': newPointForm} only %}
{% endblock %}

{% block javascripts %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap"  type="text/javascript"></script>
	<script type="text/javascript">

	</script>
{% endblock %}