$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary: rgb(0, 156, 47);
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import "~jquery-ui/themes/base/autocomplete.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Global CSS */

html, body {
	background-color: #F2F2F2;
	height: 100%;
	font-family: Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > section {
	padding-top: 100px;
	height: 100%;
}
 
body > section > .container-fluid,
body > section > .container-fluid > .row,
body > section > .container-fluid > .row > * {
	height: 100%;
}

#mapContainer, #pointsContainer {
	padding: 0;
}

#pointsContainer {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
	padding: 40px 50px 0 100px;
	overflow-y: scroll;
}

@media (max-width: 991px) {
    #mapContainer {
        max-height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #pointsContainer {
        padding: 40px 50px 0 50px;
    }
}
@media (max-width: 767px) {
    #pointsContainer {
        padding: 30px 30px 0 30px;
    }
}

/* Navbar */

nav.navbar {
	height: 100px;
	background-color: #292929;
}

@media (min-width: 768px) {
    nav.navbar > .container-fluid {
        margin-top: 25px;
    }
}

nav.navbar button {
    background-color: transparent;
    border: 2px solid #009C2F;
    margin: 0 30px;
}
nav.navbar button:hover {
    background-color: transparent;
    border-color: #008B30;
}
nav.navbar button .glyphicon {
    color: #009C2F;

}
nav.navbar button:hover .glyphicon {
    color: #008B30;
}
@media (max-width: 767px) {
    nav.navbar .container-fluid {
        text-align: center;
    }
    nav.navbar a.navbar-brand {
    	width: 100%;
    }
    nav.navbar a.navbar-brand img {
    	display: inline-block;
    }
}


/* Point of interest */

.pointOfInterest {
	background-color: #FFF;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 30px;
}

.poi-name {
	font-weight: bold;
	font-size: 20px;
}

.poi-find {
	font-weight: bold;
	font-size: 16px;
}

.poi-address {
	color: #929292;
	font-size: 15px;
}

/* Map */

#map {
	height: 100%;
	width: 100%;
}

/* Search box */

#searchBox {
	background-color: white;
    padding: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
    margin-bottom: 20px;
}

#searchBox > .glyphicon {
	color: #009C2F;
	padding: 0 10px;
}

#searchBox input {
	display: block;
	border: none;
    width: 100%;
    padding: 0 50px;
    margin-top: -20px;
}

/* Modal window */

.modal-content {
	border-radius: 5px;
	padding: 15px 30px;
}

.modal-header {
	border-bottom: none;
}

.modal-title {
	margin-bottom: 20px;
}

.modal-footer {
	border-top: none;
}

.modal label, .modal button.close {
	color: #009C2F;
}

.modal input {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
}

.modal button[type='submit'] {
    background-color: transparent;
    border: 2px solid #009C2F;
    margin: 0 30px;
    color: #009C2F;
}
.modal button[type='submit']:hover {
    background-color: transparent;
    border-color: #008B30;
    color: #008B30;
}


/* Autocomplete */
.ui-autocomplete.ui-front {
	z-index: 9999;
	background-color: #fff;
	padding: 0;
	border: 1px solid #E5E5E5;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete.ui-front > .ui-menu-item {
	list-style: none;
	padding: 10px 5px;
	color: #000;
}

.ui-autocomplete.ui-front > .ui-menu-item:hover {
	background-color: #009C2F;
	color: #fff;
}

.ui-menu-item * {
	display: inline;
}

.ui-menu-item .glyphicon {
	margin: 0 10px;
	opacity: 0.5;
}

.ui-helper-hidden-accessible {
	display: none;
}
